{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    <title>SHOW LAPTOP FORM</title>
{% endblock %}

{% block content %}
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">LAPTOP ID</th>
        <th scope="col">NAME</th>
        <th scope="col">MODEL</th>
        <th scope="col">BRAND</th>
        <th scope="col">RAM</th>
        <th scope="col">PRICE</th>
        <th scope="col">DATE</th>
        <th scope="col">PHONE NO</th>
        <th scope="col">SELLER</th>
        <th scope="col">ADDRESS</th>
        <th scope="col">UPDATE</th>
        <th scope="col">DELETE</th>
      </tr>
      </thead>
      <tbody>
          {% for i in obj %}
          <tr>
            <td>{{i.laptop_id}}</td>
            <td>{{i.name}}</td>
            <td>{{i.model}}</td>
            <td>{{i.brand}}</td>
            <td>{{i.ram}}</td>
            <td>{{i.price}}</td>
            <td>{{i.date}}</td>
            <td>{{i.phoneno}}</td>
            <td>{{i.seller}}</td>
            <td>{{i.address}}</td>
            <td><button class="btn btn-warning"><a href="{% url 'update_url' i.laptop_id %}">UPDATE</a></button></td>
            <td><button class="btn btn-danger"><a href="{% url 'delete_url' i.laptop_id %}">DELETE</a></button></td>
          </tr>
          {% endfor %}
    </tbody>
  </table>

{% endblock %}